<?xml version="1.0"?>
<launch>
  <arg name="use_vector_map" default="true"/>
  <include file="$(find euclidean_cluster)/launch/euclidean_cluster.launch" />
  <include file="$(find shape_estimation)/launch/shape_estimation.launch">
    <arg name="input/objects" default="clusters" />
    <arg name="use_map_corrent" default="$(arg use_vector_map)"/>
    <arg name="output/objects" default="objects" />
  </include>
</launch>
